.container{
    width: 1260px;
}
.header{
    width: 1260px;
    height: 100px;
}
.logo{
    position:absolute;
    top: 25px;
    float: left;
    width: 30px;
    height: 30px;
}
.logout{
    
    float: right;
}
.area{
    width: 1260px;
    height: 300px;
}
.leftarea{
    float: left;
    width: 420px;
    height: 300px;
   
}
.rightarea{
    float: right;
    width: 820px;
    height: 500px;
    opacity: 0.6;
}
.users{
    
    width: 420px;
    height: 500px;
    background-color:gray;
    opacity: 0.6;
}
.messagebox{
    
    width: 820px;
    height: 447px;
    background-color:gray;

}
.typing{
    
    width: 820px;
    height: 100px;
}
.typingmessage{
    float: left;
    width: 720px;
    height: 40px;
    background-color:white;
    opacity: 1;
}
 
.send{
    
    float: right;
    width: 90px;
    height: 100px;
} 
p.double
 {
    border-style: double; 
 }
p.solid
{
    border-style: solid;
}