.container{
    width: 1260px;
}
.header{
    width: 1260px;
    height: 100px;
}
.logo{
    position:absolute;
    top: 25px;
    float: left;
    width: 30px;
    height: 30px;
}
.logout{    
    float: right;
}
.area{
    width: 1260px;
    height: 300px;
}
.leftarea{
    float: left;
    width: 420px;
    height: 300px;

   
}
.rightarea{
    float: right;
    width: 820px;
    height: 480px;

}
.users{
    
    width: 420px;
    height: 500px;
    background-color:gray;
    opacity: 0.6;
}
.messagebox{
    
    width: 820px;
    height: 448px;
    background-color:gray;

}
.typing{
    height: 100px;
    /* width: -1000px; */

}
.typingmessage{
    position:absolute;
    float: left;
    height: 40px;

}
.send{  
    float: right;
    width: 90px;
    height: 100px;
} 
p.double
 {
    border-style: double; 
 }
p.solid
{
    border-style: solid;
}
