body{
         background-image: url("../template/background.jpg");  
    }
    
p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size:14px;
    color:black
}
.header img{
    float : left;
    width : 25px;
    height: 25px;
  }
.middle {
    padding-top: 175px;
    padding-right: 500px;
    padding-bottom: 500px;
    padding-left: 500px;
}
    
