<div class="header"><img src="../asset/chat.png"></div>

<!-- <title>Login Page</title> -->

<link rel="stylesheet" href="../asset/homepage.css">
<br>
<!-- </head> -->
<center>
    <div class="rcorners">
<div class="box">
        <h4><b>WELCOME TO HOME PAGE</b></h4>
</div>
</div>
</center> 
<div class="buttonallign">
    <br>
    <br>
    <br>
    <button type="submit" value="Submit">Logout</button>
</div>
<br>
<br>
<br>
<div class="partition">
    <div class="p1">
    <p>USERS</p>
    </div>        
</div>

