<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>HOME PAGE</title>
    
</head>
<center>
<body>
    <div>
    <link rel="stylesheet" href="../asset/homepage.css">
    <div class="container">
        <div class="header">
                <center> <h1>ChatBox</h1></center>
            <div class="logo" >
                     <img src="../asset/chat.png" height="70px" width="70px">
            </div>
            <div class="logout">
                   <a href="#!/Login"><button type="logout" value="logout">Logout</button></a> 
            </div>
        </div>
        <div class="area">
            <div class="leftarea">
                <div class="users">
                    <p class="double">
                        <center><b>USERS</b></center>
                    </p>
                </div>
            </div>
            <div class="rightarea">
                <div class="messagebox">
                        <p class="double">
                                <center><b>MESSAGE CENTER</b></center>
                            </p>
                        
                </div>
                <div class="typing">
                    <div class="typingmessage"></div>
                    <div class="send">
                      <center><button type="submit" value="Submit">Send</button></center>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</center>
</html>
