<!Doctype html>
<html>

<head>

    <div class="header"><img src="../public/template/chat.png"></div>

    <title>Login Page</title>

    <link rel="stylesheet" href="../asset/styling.css">
    <br>
</head>

<body>
    <div class="middle">
        <center>
            <p2><b>LOGIN</b></p2>
        </center>
        <br>
        <form>
            <p><b>EMAIL ID</b><input type="text" placeholder="email"></p>
            <p><b>PASSWORD</b><input type="password" placeholder="password"></p>
            <p><button type="button">Login</button></p>
            <p><a href="#!/Registration">Click here to Register</a></p>
    </div>
    </form>
</body>

</html>