<!-- <!Doctype html>
<html>

<head> -->
    <div class="header"><img src="../asset/chat.png"></div>

    <!-- <title>Login Page</title> -->

    <link rel="stylesheet" href="../asset/styling.css">
    <br>
<!-- </head> -->

    <div class="middle">
        <center>
            <p2><b>LOGIN</b></p2>
        </center>
        <br>
        <form>
            <br>
            <p><b>EMAIL ID : </b><input type="text" placeholder="email" ng-model="user.email" required></p>
            <p><b>PASSWORD : </b><input type="password" placeholder="password" ng-model="user.password" required></p>
            <p><button type="submit" value="Submit" ng-click ="login()">Login</button>
        </form>
        <p><a href="#!/Registration">click here for Registration</a></p> 
        <center><h3>{{message}}</h3></center>
    </div>
    

<!-- </html> -->