<!Doctype html>
<html>
    <head>
        <center>
        <title>Login Page</title>
        <link rel="stylesheet" href="/home/adminsitrator/Documents/ChatApp/public/asset/styling.css">    
        <br>
        <div class="header"><img src="/home/adminsitrator/Documents/chat.png"></div>
        <center><p1><b>LOGIN</b><p1></center>
    </head>
    <body>   
        <form>
            <p>EMAIL ID<input type="text" placeholder="email"></p>
            <br>
            <p>PASSWORD<input type="password" placeholder="password" ></p>
            <p><button type="button">Login</button></p>
        </form>
    </center>
    </body>
</html>