
<!-- <html>
    <head> -->
        <div class="header"><img src="../asset/chat.png"></div>
            <br>
            <br>   
        <!-- <title>Registration Page</title> -->
        <link rel="stylesheet" href="../asset/styling.css">
        <p><b><font color = "black"><font size = '5'>REGISTRATION</font><font color="black"</b></p>
    <!-- </head>   -->
        <form >
            <br>
            <p><label>FIRST NAME : </label> <input type="text" placeholder="firstname" ng-model="user.firstname" required ></p>  
            <br>
            <p><label>LAST NAME : </label><input type="text" placeholder="lastname" ng-model="user.lastname" required></p>
            <br>
            <p><label>EMAIL ID : </label><input type="text" placeholder="email" ng-model="user.email" required></p>
            <br>
            <p><label>PHONE NUMBER : </label><input type="text" placeholder="phone number" ng-model="user.mobile" required></p>
            <br>
            <p><label>PASSWORD : </label><input type="password" placeholder="password" ng-model="user.password" required></p>
            <br>
            <p><a href="#!/Login"><button type="submit" value="Submit" ng-click="register()">Submit</button></a>
           &nbsp &nbsp &nbsp &nbsp <button type="reset" value="Reset">Reset</button></p>       
        </form>
        <p><a href="#!/Login">click here for Login page</a></p>
<!-- </html> --> 