<!Doctype html>
<html>
    <head>
          <center>     
        <title>Registration Page</title>
        <link rel="stylesheet" href="/home/adminsitrator/Documents/ChatApp/public/asset/styling.css">
        <div class="header"><img src="/home/adminsitrator/Documents/chat.png"></div>
        <p><b><font color = "black"><font size = '5'>REGISTRATION</font><font color="black"</b></p>
    </head>
    <body>    
        <form >
            <br>
            <p>FIRST NAME <input type="text" placeholder="firstname" ></p>  
            <br>
            <p>LAST NAME  <input type="text" placeholder="lastname" ></p>
            <br>
            <p>EMAIL ID   <input type="text" placeholder="email" ></p>
            <br>
            <p>PHONE NUMBER <input type="text" placeholder="Phone Number" ></p>
            <br>
            <p>PASSWORD   <input type="password" placeholder="password" ></p>
            <a href="Login.html">Register</a>
           <p><button type="reset" value="Reset">Reset</button></p>        
        </form>
    </center>
  </body>
</html>