<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Homepage</title>

</head>
<center>

    <body>
        <div>
            <link rel="stylesheet" href="../asset/homepage.css">
            <div class="container" ng-controller="singleChatCntrl">
                <div class="header">
                    <div class="logout">
                       <a href = "#!/homepage"> <button type="logout" value="logout" ng-click='close()' style='height:35px;width:80px;border-radius:15px;'>Close</button></a>
                    </div>
                    <center>
                        <h2 font-family:verdana>
                            <font color="white">ChatApp</font>
                        </h2>
                    </center>
                    <div class="logo">
                        <img src="../asset/logo.png">
                    </div>
                </div>
                <div class="area">
                    <div class="leftarea">

                        <div class="users">
                            <center>
                                <br>
                                <p><i><b>
                                            <font color="black">CONTACTS</font>
                                            <hr>
                                        </b></i></p>
                            </center>
                            <ol>
                                <!-- <div> {{senderName}} </div> -->
                            </ol>
                        </div>
                    </div>
                    <div class="rightarea">

                        <br>
                        <p><i><b>
                                    <font color="white">MESSAGE CENTER</font>
                                </b></i></p>
                        <hr>

                        <div class="messagebox">
                            <ul>
                                    
                                <div ng-repeat="data in chatlist track by $index">
                                    <div class="msgsleft" ng-if="currUser != data.senderName">
                                     <!-- <h4 style="color:black">{{data.username}} : {{data.message}}</h4> -->
                                        <font color="black">{{data.senderName}} : {{data.message}}</font>
                                          
                                        <br>
                                        <h5>
                                            <font color="blue">{{data.date | date: 'medium'}}</font>
                                        </h5>
                                    </div>
                                    <div class="msgsright" ng-if="currUser == data.senderName">
                                        <!-- <h4 style="color:black">{{data.username}} : {{data.message}}</h4> -->
                                        <font color="black">{{data.senderName}} : {{data.message}}</font>
                                        <br>
                                        <h5>
                                            <font color="darkblue">{{data.date | date: 'medium'}}</font>
                                        </h5>
                                    </div>
                                </div>
                            </ul>

                        </div>
                        <div class="typing">
                            <div class="typingmessage"></div>
                            <textarea placeholder="Type your message" rows="3" cols="88" ng-model="message">

                        </textarea>
                            <div class="send">
                                <div class="bord">
                                    <center><button type="submit" value="Submit" ng-click='send()' style='height:35px;width:80px;border-radius:15px;'>Send</button></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</center>

</html>